.container{
    height: 100vh;
    background-color: yellow;
}

.logo-image{
    width: 100%;
    height: 12%;
    position: relative;
    top: 10%;
    background-color: red;
}

.logo-image > img{
    max-width: 100%;
    max-height: 100%;
    background-color: blue;
}

.search-form{
    position: relative;
    top: 22%;
}

.search-form input[type=text]{
    padding:3.5%;
}

.search-form button,
.search-form button:hover{
    background-color: #24a4a9;
    color: #fff;
}

.search-form button span{
    font-size: xx-large;
}